<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Keey</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/fontAwesome.css">
	<link rel="shortcut icon" href="favicon.ico"> 
	<script src="js/vue.js"></script>
	<script src="js/jquery.js"></script>
</head>
<body>
	<div id="body" v-cloak>
		<div class="pagetop">
			<div class="container">
				<div class="header"><img src="img/header.png"></div>

				<div class="search">
					<div class="searchbar">
						<!-- -----------Baidu---------- -->
						<form action="http://www.baidu.com/baidu" v-if="!google">
							<input type="text" name=word placeholder="Get Started Here...">
							<button type="submit" class="fa fa-search"></button>
						</form>
						<!-- ----------Google---------- -->
						<form action="http://www.google.com/search" v-if="google">
							<input type="text" name=q placeholder="Get Started Here...">
							<button type="submit" class="fa fa-search"></button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="pagebot">
			<div class="container">
				<table class="index-menu">
					<tr>
						<th id="nav">
							<span>Navgation</span>
							<a href="javascript:void(0);" class="item-add-btn" @click="delseen=!delseen">
								<i class="fa fa-gear" title="manage shortcuts"></i>
							</a>
						</th>
					</tr>
					<tr class="clearfloat" >
						<td>Favorites</td>
						<td><div class="menu-item">
							<a class="item-text" href="http://www.google.com">
								<img class="site-logo" src="http://www.google.com/favicon.ico">
								<span>Google</span>
							</a>
						</div></td>
						<td><div class="menu-item">
							<a class="item-text" href="http://www.baidu.com">
								<img class="site-logo" src="http://www.baidu.com/favicon.ico">
								<span>Baidu</span>
							</a>
						</div></td>
						<td><div class="menu-item">
							<a class="item-text" href="https://blog.csdn.net">
								<img class="site-logo" src="https://blog.csdn.net/favicon.ico">
								<span>CSDN</span>
							</a>
						</div></td>
					</tr>
					<tr class="clearfloat" >
						<td>Tools</td>
						<td><div class="menu-item">
							<a class="item-text" href="https://flatuicolors.com/">
								<img class="site-logo" src="https://flatui.com/favicon.ico">
								<span>FlatUIcolors</span>
							</a>
						</div></td>
						<td><div class="menu-item">
							<a class="item-text" href="https://github.com/">
								<img class="site-logo" src="https://github.com/favicon.ico">
								<span>Github</span>
							</a>
						</div></td>
					</tr>
					<tr class="clearfloat" >
						<td>News</td>
						<td><div class="menu-item">
							<a class="item-text" href="https://www.nytimes.com/">
								<img class="site-logo" src="https://www.nytimes.com/favicon.ico">
								<span>New York Times</span>
							</a>
						</div></td>
					</tr>
					<tr class="clearfloat">
						<td>Others</td>

						<td v-for="(sc, index) in list">
							<div class="menu-item">
								<a :href="sc.link" class="item-text" >
									<img class="site-logo" :src="sc.icon">
									<span>{{ sc.name }}</span>
								</a>
								<a href="" class="btn-delete fa fa-times" @click.prevent="del(index)" v-if="delseen"></a>
							</div>
						</td>

					</tr>
				</table>
			</div>
		</div>
		<div v-clickoutside="panelClose">
<!-- ===============PanelToggleButton=============== -->
			<a href="#" @click.prevent="sideToggle" class="panelbtn" id="enterbtn"><i class="fa fa-anchor" ></i></a>
<!-- ===============Panel================ -->
		
		<transition name="sidetrans"><div class="panel" v-show="showPanel">

			<div class="side-header">
				<h3><i class="fa fa-cog" style="color: #324b4e"></i>&nbsp Settings</h2>
				<a href="#" class="panelbtn" @click.prevent="sideToggle"><i class="fa fa-times"></i></a>
			</div>

			<div class="side-menu">
				<div class="side-menu-title">Preference</div>
				<div class="googlesearch clearfloat">
					<label>Use Google Search</label>
					<div class="switch-box">
						<a href="" class="slider on" onclick="searchtoggle()"  @click.prevent="searchToggle"></a>
					</div>
				</div>
				<fieldset>
					<legend>Create A New Shortcut</legend>
						<span class="fa fa-globe">&nbsp&nbsp</span>
						<input type="text" placeholder="Enter website name" v-model="name">
						<br>
						<span class="fa fa-link">&nbsp&nbsp</span>
						<input type="text" placeholder="Enter website address" v-model="link" @click="linkfill">

						<p class="tips">Tip: <br>The address must begins with 
							<span style="color: #fff"><b>"https://"</b></span> and ends with <span style="color: #fff"><b>"/"</b></span> or the icon will not be shown properly.</p><br>
						<p class="tips">Example: https://www.google.com/</p>
						<br>

						<label>Group:</label>
						<select>
							<option value="Favorites">Favorites</option>
							<option value="Tools">Tools</option>
							<option value="News">News</option>
							<option value="Others">Others</option>
						</select>
						<br>
						<button id="btn-create" @click="createShortcut"><i class="fa fa-paper-plane"></i></button>
				</fieldset>
			</div>
		</div></transition>
		</div>
	</div>
	<script src="js/main.js"></script>
</body>
</html>